.padreIndex{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "nav nav nav nav" 
    "header header header secundario"
    "sec1 sec1 sec1 secundario"
    "pie pie pie pie"
    ;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-columns: repeat(4,1fr);
}
.reseniasCard{
    width: 300px;
    border: solid 1px black;
    overflow: hidden;
    border-radius: 15px;
    padding: 10px;
    text-align: center;

}
.reseniasImagen{
   
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    background-size: cover;
    max-width: 100%;
    object-fit: cover;
    background-position: center;
}
#publicidad {
   display: block;
   max-width: 100%;
   
   height: 1100px;
   width: 600px;
}
.card-img-top{
    width: 286px;
    height: 286px;
    background-size: 100% 100%;
}

