$colores:("primary":blue,"secondary":grey,"success":green,"warning":yellow);

@each $name, $color in $colores{
    .btn-#{$name}{ 
        background-color:$color;
    }
    }
    @each $name, $color in $colores{
        .text-#{$name}{ 
            background-color:$color;
        }
        }
    
$estilos:(
    color: rgb(201, 52, 15),
    centro: center,
    tFuente:35px,
    1rem:1rem
);

.card{
    background-color: map-get($estilos,color);
    text-align: map-get($estilos, centro);
    padding: map-get($estilos, 1rem);
    font-size: map-get($estilos, tFuente)
}
h1{
    text-align: map-get($estilos, centro);
    color: map-get($estilos,color);
}
 